<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Registration Assignment</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"
    8href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
      <h1>Login/Registration Assignment</h1>
      <h2>Existing User - Login</h2>
      <form action="/login" method="post">
        Email: <input type="email" name="email">
        Password: <input type="password" name="password">
        <input type="submit" name="login">
      </form>
      <h2>New User: Register</h2>
      {% with messages = get_flashed_messages() %}
      <!-- looping through flash messages to display errors. This will display both errors for new registration and existing users attempting to login -->
      {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {%if test == False%}
    <form action="/register" method="post">
      First Name: <input class = 'row' id='fname' type = 'text' name = 'fname' value = ''>
      Last Name: <input class = 'row' id='lname' type = 'text' name = 'lname' value = "">
      Email: <input class = 'row' id='email' type = 'email' name = 'email' value = "">
      Password: <input class = 'row' id='password' type = 'password' name = 'password' value = "">
      Confirm Password: <input id='confirmpw' type= 'password' name = 'confirmpw' value = "">
      <input class = 'row' type="submit" name="submit" value="submit">
    </form>
    {%endif%}
    {%if test == True%}
    <form action="/register" method="post">
      First Name: <input class = 'row' id='fname' type = 'text' name = 'fname' value = '{{fname}}'>
      Last Name: <input class = 'row' id='lname' type = 'text' name = 'lname' value = "{{lname}}">
      Email: <input class = 'row' id='email' type = 'email' name = 'email' value = "{{email}}">
      Password: <input class = 'row' id='password' type = 'password' name = 'password' value = "">
      Confirm Password: <input id='confirmpw' type= 'password' name = 'confirmpw' value = "">
      <input class = 'row' type="submit" name="submit" value="submit">
    </form>
    {%endif%}
</body>
</html>
